body {
  background-image: url('assets/background-stars.svg');
  background-color: #070724;
  background-blend-mode: luminosity;
  color: #fff;
  font-size: 14px;
  line-height: 25px;
  font-family: 'Spartan';
  margin: 0;
}

.wikipedia-link {
  display: flex;
  margin-bottom: 30px;

  p{
    width: 20%;
  }

  a {
    margin: 14px 0;
  }
}